// base color
$blue: #324157;
$light-blue: #3A71A8;
$red: #ff4949;
$pink: #ff4949;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow: #FEC171;
$panGreen: #30B08F;
$imageBack: #bfcbd9;
//
$chatMyBack: #3b2e93;
$chatMyColor: #fff;
$chatMyBorder: #C9DEFF;
$chatHeBack: #F5F7FA;
$chatHeColor: #62748F;
$chatHeBorder: #C9DEFF;
// sidebar
$menuText: #bfcbd9;
$menuActiveText: #3b2e93;
$subMenuActiveText: #f4f4f5;
$menuBg: #304156;
$menuHover: #263445;
$subMenuBg: #1f2d3d;
$subMenuHover: #001528;
$sideBarWidth: 0px;
/* theme color */
$--color-primary: #31466B;
$--color-success: #25C1C7;
$--color-warning: #DFBE25;
$--color-danger: #ff4949;
$--color-info: #909399;
